@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-weight: 100 800;
  src: url(@fontsource-variable/jetbrains-mono/files/jetbrains-mono-latin-wght-normal.woff2)
    format('woff2-variations');
  unicode-range:
    U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
    U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
    U+2215, U+FEFF, U+FFFD;
}

@import 'tailwindcss';

@theme {
  --default-font-family: 'JetBrains Mono';
  --color-green-500: oklch(82.17% 0.267 140.6);
  --color-lime-500: oklch(91.57% 0.2054 121.64);
  --color-neutral-100: oklch(82.66% 0 0);
  --color-neutral-200: oklch(69.6% 0 0);
  --color-neutral-300: oklch(39.11% 0.0033 286.24);
  --color-neutral-400: oklch(36% 0 0);
  --color-neutral-500: oklch(30.12% 0 0);
  --color-neutral-600: oklch(24.43% 0.0038 286.12);
  --color-neutral-700: oklch(20.55% 0.0039 286.05);
  --color-neutral-900: oklch(14.48% 0 0);
  --color-red-500: oklch(66.07% 0.2258 25.95);
  --leading-tight: 1.2;
  --radius-3xl: 1.25rem;
  --shadow-lg: 0 12px 40px rgb(0 0 0 / 0.4);
  --shadow-xl: 0 20px 60px rgb(0 0 0 / 0.5);
  --text-3xl: 2rem;
  --text-5xl: 2.5rem;
  --tracking-tight: -0.5px;
  --tracking-wide: 0.5px;
  --tracking-wider: 1px;
}

@layer base {
  .recharts-wrapper * {
    outline: none;
  }
}
